<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-grid">
					
					<div class="footer-grd-left">
						<h3>Bridget Coder's Diary 2017</h3>
                                                <ul>
                                                    <li><a href="indexCG.php">View All Posts</a></li>
                                                    <li><a href="contact.html">Contact Us</a></li>
					</ul>
					</div>
					<div class="footer-grd-left">
					
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-3 footer-grid">
					]
					
				</div>
				<div class="col-md-3 footer-grid">
					<h3></h3>
					<ul>
					
					</ul>
				</div>
				
			</div>
		</div>
	</div>
	<div class="footer-bottom">

	</div>
<!-- //footer -->
<!-- for bootstrap working -->
		<script src="js/bootstrap.js"> </script>
<!-- //for bootstrap working -->